* {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 5px auto;
}

.vertical-ticks {
    display: flex;
    justify-content: space-between;
}

.vl {
    border-left: 2px solid black;
    height: 20px;
}

.xaxis-number-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#three {
    position: relative;
    left: -4px;
}

#two {
    position: relative;
    left: -6px;
}

#minusFour {
    position: relative;
    left: -8px;
}

#minusThree, #one {
    position: relative;
    left: -10px;
}

#minusTwo, #zero {
    position: relative;
    left: -13px;
}

#minusOne {
    position: relative;
    left: -15px;
}

#number-line-values {
    display: flex;
    justify-content: center;
}

.ui-widget-header {
    background:rgb(36, 34, 34);
}

